<?xml version="1.0"?>
<launch> 
	<param name="robot_description" textfile="$(find bunny)/urdf/bunny.urdf" /> 
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find avb_bot)/worlds/test_environment.world"/>
	</include> 
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
	args="-param robot_description -urdf -model bunny "/> 
</launch>